<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">promoit-frontend-cs</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="allcampaigns">
                <span class="oi oi-list-rich" aria-hidden="true"></span> campaigns
            </NavLink>
        </div>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="allactivists">
                <span class="oi oi-list-rich" aria-hidden="true"></span> activists
            </NavLink>
        </div>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="allusers">
                <span class="oi oi-people" aria-hidden="true"></span> Users
            </NavLink>
        </div>
        </AuthorizeView>
        <AuthorizeView Roles="Social activist">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="balanceandproducts">
				<span class="oi oi-dollar" aria-hidden="true"></span> Balance and Products
            </NavLink>
        </div>
        </AuthorizeView>
        <AuthorizeView Roles="Business company representative">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="donate">
				<span class="oi oi-globe" aria-hidden="true"></span> Donation Page
            </NavLink>
        </div>
        </AuthorizeView>
        <AuthorizeView Roles="Business company representative">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="userstoship">
                <span class="oi oi-share" aria-hidden="true"></span> Ship list
            </NavLink>
        </div>
        </AuthorizeView>
        <AuthorizeView Roles="Non-profit company representative">
        <div class="nav-item px-3">
                <NavLink class="nav-link" href="np-campaigns">
                <span class="oi oi-share" aria-hidden="true"></span> My campaigns
            </NavLink>
        </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
