<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">promoit-frontend-cs</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="add-business-company">
                    <span class="oi oi-account-login" aria-hidden="true"></span> BCR registration
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
        <div class="nav-item px-3">
                <NavLink class="nav-link" href="add-social-activist">
                    <span class="oi oi-account-login" aria-hidden="true"></span> SA Registration
            </NavLink>
        </div>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
        <div class="nav-item px-3">
                <NavLink class="nav-link" href="add-non-profit">
                    <span class="oi oi-account-login" aria-hidden="true"></span> NPCR Registration
            </NavLink>
        </div>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="allcampaigns">
                    <span class="oi oi-audio" aria-hidden="true"></span> Campaigns
            </NavLink>
        </div>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="allactivists">
                    <span class="oi oi-people" aria-hidden="true"></span> Activists
            </NavLink>
        </div>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="allusers">
                <span class="oi oi-people" aria-hidden="true"></span> Users
            </NavLink>
        </div>
        </AuthorizeView>
        <AuthorizeView Roles="Social activist, Admin">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="balanceandproducts">
				<span class="oi oi-dollar" aria-hidden="true"></span> Balance and Products
            </NavLink>
        </div>
        </AuthorizeView>
        <AuthorizeView Roles="Business company representative, Admin">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="donate">
				<span class="oi oi-globe" aria-hidden="true"></span> Donation Page
            </NavLink>
        </div>
        </AuthorizeView>
        <AuthorizeView Roles="Business company representative, Admin">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="userstoship">
                <span class="oi oi-share" aria-hidden="true"></span> Ship list
            </NavLink>
        </div>
        </AuthorizeView>
        <AuthorizeView Roles="Non-profit company representative">
        <div class="nav-item px-3">
                <NavLink class="nav-link" href="np-campaigns">
                    <span class="oi oi-audio" aria-hidden="true"></span> My campaigns
            </NavLink>
        </div>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="twitterreport">
                    <span class="oi oi-chat" aria-hidden="true"></span> Twitter report
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
